html,
body {
    margin: 0;
    height: 100%;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #06171E;
}

.page {
    flex: 1;
    width: 90%;
    margin: 0 auto;
    max-width: 1920px;
}

header {
    background-color: #09212A;
}

footer {
    background-color: #09212A;
}